.login-page__wrapper {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }

  img {
    width: 96px;
    height: 96px;
    @include border-radius(50%);
    // border: 1px solid rgba(0, 0, 0, 1);
    margin-bottom: 24%;
  }
}