.login-page__wrapper {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 12%;

  // @mixin border-radius($radius) {
  //   -webkit-border-radius: $radius;
  //   -moz-border-radius: $radius;
  //   border-radius: $radius;
  // }

  // img {
  //   width: 96px;
  //   height: 96px;
  //   @include border-radius(50%);
  //   margin-bottom: 24%;
  //   border: 1px solid black;
  // }
}