@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$open-sans: 'Open Sans', sans-serif;
$font-color-input: rgba(0 ,0, 0, 0.87);
$font-color-button: rgba(255, 255, 255, 0.87);
$border-color: #FF99CC;

.login-form__input {
  width: 288px;
  height: 46px;
  padding: 16px;
  margin-bottom: 8px;
  font-family: $open-sans;
  color: $font-color-input;
  font-size: 0.75em;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.26);
  outline: none;
}

// .login-form__input:hover {
//   outline: 2px solid $border-color;
// }

.login-form__submit {
  width: 288px;
  height: 46px;
  border: none;
  background-color: black;
  color: $font-color-button;
  outline: none;
  font-family: $open-sans;
  transition-duration: 0.4s;
}

.login-form__submit:hover {
  background-color: rgba(0, 0, 0, 0.54);
}