@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$open-sans: 'Open Sans', sans-serif;
$font-color-input: rgba(0 ,0, 0, 0.87);
$font-color-button: rgba(255, 255, 255, 0.87);
$border-color: #FF99CC;
$width: 240px;
$height: 36px;

.login-form__input {
  width: $width;
  height: $height;
  padding: 16px;
  margin-bottom: 8px;
  font-family: $open-sans;
  color: $font-color-input;
  font-size: 0.75em;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.26);
  outline: none;
}

.login-form__captcha {
  width: $width;
  height: $height;

  .login-captcha-input {
    width: 140px;
    height: 100%;
    float: left;
    padding: 16px;
    font-family: $open-sans;
    color: $font-color-input;
    font-size: 0.75em;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.26);
    outline: none;
  }

  .login-verification-code {
    float: right;
    width: 80px;
    height: 100%;
    outline: none;
    cursor: pointer;
  }
}

.login-form__submit {
  width: $width;
  height: $height;
  border: none;
  background-color: black;
  color: $font-color-button;
  outline: none;
  font-family: $open-sans;
  transition-duration: 0.4s;
}

.login-form__submit:hover {
  background-color: rgba(0, 0, 0, 0.54);
}