@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

$open-sans: 'Open Sans', sans-serif;

.login-error__msg {
  text-align: center;

  p {
    color: rgba(255, 128, 171, 0.87);
    font-size: 0.75em;
    font-family: $open-sans;
    font-weight: 300;
  }
}