@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

$open-sans: 'Open Sans', sans-serif;

.login-form-input-long {
  width: 182px;
  padding: 10px 8px;
  margin-bottom: 4px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.26);
  font-family: $open-sans;
  font-weight: 300;
  font-size: 0.75em;
  color: rgba(255, 255, 255, 0.87);
}

.login-form-btn {
  width: 100%;
  padding: 11px;
  margin-top: 36px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.87);
  font-family: $open-sans;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  transition: background-color 0.4s;
}

.login-form-btn:hover {
  background-color: rgba(255, 255, 255, 0.54);
  color: rgba(0, 0, 0, 0.54);
}