@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$open-sans: 'Open Sans', sans-serif;

.login-error__msg {
  color: rgba(255, 0, 0, 0.87);
  font-size: 0.75em;
  font-family: $open-sans
}