@import 'partials/buttons';
@import 'partials/create-product';

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,600');

$open-sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

.product-container {
  
}

.product-btns {
  text-align: right;
  padding: 4%;

  input {
    margin-left: 12px;
    outline: none;
    width: 28px;
    height: 28px;
    background-color: rgba(3, 169, 244, 0.87);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 8px;
  }

  input:hover {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
  }
}

.product-inner-container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  height: 500px;
}

.product-inner-image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: auto;
  margin-bottom: 24px;
  padding: 0 3%;  
}

.product-image-container {
  flex-grow: 1;
  width: 23%;
  margin: 0 2px 2px;
  cursor: pointer;

  img {
    width: 100%;
    opacity: 0.8;
    transition: opacity 0.4s;
  }

  img:hover {
    opacity: 1;
  }
}

.product-item-container {
  width: 30%;
  margin: 0 12px 16px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.product-responsive-title {
  font-family: $montserrat;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 0;
  padding: 3%;
  border-bottom: 3px solid rgba(250, 250, 250, 1);
}

.product-responsive-content {
  font-family: $open-sans;
  font-size: 0.75em;
  word-spacing: 1.5px;
  padding: 0 1%;
  color: rgba(0, 0, 0, 0.54);
  text-align: justify;
  padding: 0 5% 3%;
  line-height: 2;
}

.product-responsive-link {
  padding: 0 5% 3%;

  a {
    font-family: $open-sans;
    font-weight: 600;
    font-size: 0.75em;
    color: rgba(3, 169, 244, 0.54);
    text-decoration: none;
    word-wrap: break-word;
  }
}

.product-add-btn {
  padding: 2%;
  margin: 2%;
  text-align: center;
  cursor: pointer;
  opacity: 0.8;
}

.product-add-btn:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 700px) {
  .product-inner-container {
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .product-item-container {
    width: 90%;
  }
}