@import 'partials/buttons';
@import 'partials/general-info';
@import 'partials/product-responsive';
@import 'partials/create-product';

.product-container {
  .product-btns {
    text-align: center;
    padding: 5%;

    input {
      margin-left: 8px;
      outline: none;
      width: 32px;
      height: 32px;
    }

    input:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .product-inner-container {
    padding: 0 2%;

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}