@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:700');

$pacifico: 'Pacifico', cursive;
$open-sans: 'Open Sans', sans-serif;

.home-style {
  background: url(../../public/images/bg_building.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-link-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $pacifico;
  font-size: 4.5em;
  color: rgba(0, 0, 0, 0.87);
}

.home-link-year {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-5%, -50%);
  font-family: $open-sans;
  font-weight: 700;
  font-size: 0.875em;
  color: rgba(0, 0, 0, 0.87);
}

.home-link-wrapper {
  position: absolute;
  bottom: 5%;
  right: 5%;

  .home-link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition-duration: 0.4s;
  }

  .home-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
