@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$open-sans: 'Open Sans', sans-serif;

.home-img {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }
}

.home-link-wrapper {
  position: absolute;
  bottom: 5%;
  right: 50%;

  .home-link {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    display: inline-block;
    transition-duration: 0.4s;
  }

  .home-link:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }
}
