@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$open-sans: 'Open Sans', sans-serif;

.header-style {
  width: 85%;
  margin: auto;
  padding: 24px 0;

  h2 {
    display: inline-block;
    font-family: $open-sans;
    font-size: 1.125em;
    color: rgba(0, 0, 0, 0.87);
  }

  div {
    display: inline-block;
    float: right;
    height: 54px;

    .header-inner-container {
      margin-top: 11px;

      .header-create-btn {
        display: inline-block;
        height: 28px;
        width: 28px;
        // background-color: rgba(0, 0, 0, 0.1);
      }

      .header-create-btn:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      input {
        height: 28px;
        width: 28px;
        cursor: pointer;
        margin-left: 8px;
        outline: none;
        // background-color: rgba(0, 0, 0, 0.1);
      }

      input:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}