@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$open-sans: 'Open Sans', sans-serif;

.header-style {
  width: 85%;
  margin: 0 auto;
  padding: 24px 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    font-family: $open-sans;
    display: inline;
    color: rgba(0, 0, 0, 0.87);

    button {
      background-color: transparent;
      border: 1px solid black;
      margin-left: 6px; 
      font-family: $open-sans;
      font-size: 0.75em;
      color: rgba(0, 0, 0, 0.87);
      transition: background-color 0.4s;
      outline: none;
      padding: 3px;
    }

    button:hover {
      background-color: black;
      color: white;
    }

    .header-create-btn {
      @extend button;
      text-decoration: none;
    }

    .header-create-btn:hover {
      @extend button:hover;
    }
  }

  .button-container {
    float: right;
  }
}