.file-upload-form-images-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2px;

  .file-upload-form-image-container {
    max-width: 23%;
    margin: 2px;
    flex-grow: 1;
    justify-content: flex-start;
    opacity: 0.8;
    transition: opacity 0.4s;

    .file-upload-form-image-style {
      width: 100%;
    }

    .file-upload-form-image-close {
      display: none;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .file-upload-form-image-container:hover {
    opacity: 1;
  }

  .file-upload-form-image-container:hover .file-upload-form-image-close {
    display: inline;
  }
}