@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$open-sans: 'Open Sans', sans-serif;

.pagination {
  width: 80%;
  margin: 48px auto;
  text-align: center;

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;

    li {
      display: inline;

      button {
        width: 32px;
        height: 32px;
        margin: 1px;
        font-size: 0.875em;
        font-family: $open-sans;
        color: rgba(0, 0, 0, 0.54);
        float: left;
        text-decoration: none;
        border: none;
        background-color: transparent;
        outline: none;
        transition: background-color .4s;
      }

      button.active {
        background-color: #FF99CC;
        color: rgba(255, 255, 255, 0.87);
      }

      button:hover:not(.active) {
        background-color: #DDD;
      }
    }
  }
}