@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$open-sans: 'Open Sans', sans-serif;

.products-link {
  width: 24px;
  height: 24px;
  text-decoration: none;
  float: right;
  transition-duration: 0.4s;
  padding: 4px;
  border-radius: 50%;
}

.products-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}