@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$open-sans: 'Open Sans', sans-serif;

.buttons {
  padding: 6%;
  text-align: right;

  button {
    background-color: transparent;
    border: 1px solid white;
    margin-left: 8px;
    width: 80px;
    height: 40px;
    font-family: $open-sans;
    color: rgba(255, 255, 255, 0.87);
  }
}