@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$title-size: 1.5em;
$content-size: 0.875em;
$title-color: rgba(0 ,0 ,0, 0.87);
$content-color: rgba(0, 0, 0, 0.54);

.create-product-form {
  margin: 0 auto;

  form {
    padding: 6% 6% 0;

    h3 {
      font-family: $open-sans;
      font-size: $title-size;
      color: $title-color;
    }

    input, textarea {
      width: 100%;
      padding: 1%;
      margin-bottom: 16px;
      font-family: $open-sans;
      font-size: $content-size;
      color: $content-color;
      border: 1px solid rgba(0, 0, 0, 0.26);
      outline: none;
    }

    textarea {
      height: 300px;
      line-height: 2;
      resize: none;
    }
  }
}