@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto');

$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$title-size: 0.875em;
$content-size: 0.875em;
$title-color: rgba(0 ,0 ,0, 0.18);
$content-color: rgba(0, 0, 0, 0.54);

.create-product-form {

  form {
    margin: 3% auto 0;
    width: 45%; 

    .create-product-form-title {
      font-family: $open-sans;
      font-size: $title-size;
      font-weight: 600;
      color: $title-color;
      padding: 12px 0;
    }

    input, textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 1%;
      margin-bottom: 16px;
      font-family: $open-sans;
      font-size: $content-size;
      color: $content-color;
      border: 1px solid rgba(0, 0, 0, 0.1);
      outline: none;
    }

    textarea {
      box-sizing: border-box;
      height: 300px;
      line-height: 2;
      resize: none;
    }
  }
}