@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

.general-info {
  padding: 3% 3% 2%;

  .title {
    font-family: $roboto;
    font-size: 1.75em;
    color: rgba(233, 62, 97, 0.87);
  }

  .id, .created, .modified {
    font-family: $open-sans;
    font-size: 0.75em;
    // color: rgba(255, 255, 255, 0.54);
    color: rgba(0, 0, 0, 0.54);    
    margin-left: 1%;
  }
}