@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
}

.product-responsive {
  padding: 0 1%;
  float: left;
  width: 33.33333%;

  .product-responsive-block {
    // border: 1px solid blue;
  }

  .product-image-block-title {
    @extend .product-responsive-title;
    margin-bottom: 24px;
  }

  .product-responsive-image-block {
    @extend .product-responsive-content;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
      opacity: 0.8;
      // border: 1px solid blue;
    }

    img:hover {
      opacity: 1;
    }
  }

  .product-add-btn {

  }
}

.product-responsive-title {
  font-family: $roboto;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 0;
  padding-left: 2%;
  padding-top: 2%; 
}

.product-responsive-content {
  // border-top: 1px solid rgba(0, 0, 0, 0.26);
  font-family: $open-sans;
  font-size: 0.75em;
  word-spacing: 1.5px;
  padding: 0 1%;
  color: rgba(0, 0, 0, 0.54);
  text-align: justify;
  padding: 0 5% 3%;
  line-height: 2;
}

.product-responsive-link {
  display: inline-block;
  padding: 0 5% 3%;
  font-family: $open-sans;
  font-size: 0.75em;
  color: rgba(233, 62, 97, 0.87);
  text-decoration: none;
}