@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

.specification {

  .title {
    font-family: $open-sans;
    font-size: 18pt;
    color: rgba(0, 0, 0, 0.87);
  }

  .content {

    img {
      width: 100%;
    }

    ul {

      li {
        font-size: 9pt;
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
}

