@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

.specification {
  width: 30%;
  float: right;
  padding: 3%;

  .title {
    font-family: $open-sans;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.87);
  }

  .specification-text {
    font-size: 0.8125em;
    color: rgba(255, 255, 255, 0.54);
  }
}

