@charset 'UTF-8';

@import 'login/base';
@import 'common/base';
@import 'products/base';
@import 'product/base';
@import 'general/base';

html, body {
  margin: 0;
  padding: 0;
  background-color: rgba(250, 250, 250, 1);
}