@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

.products-table {
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;

    th, td {
      text-align: left;
      padding: 16px;
      font-size: 9pt;
      font-family: $open-sans;
      color: rgba(0, 0, 0, 0.54);
    }

    tr:nth-child(even) {
      background-color: #F2F2F2;
    }

    th {
      background-color: black;
      color: rgba(255, 255, 255, 0.87);
      font-family: $roboto;
    }
  }
}